# Python cache files
__pycache__/
.pytest_cache/

# Dependencies directory of Node.js
# In case the candidate installs some Node tools.
node_modules/

# Junit reports
junit-reports/
.vscode
candidate-bundle.zip

# AI
.agents/
.claude/
